<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:attribute name="startItem">/WebApp/Home</patch:attribute>
      </site>
    </sites>

    <AntiCsrf>
      <patch:attribute name="enabled">false</patch:attribute>
    </AntiCsrf>

    <log4net>
      <appender name="LogFileAppender">
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/log.${COMPUTERNAME}.{date}.{time}.txt</patch:attribute>
        </file>
      </appender>
      <appender name="PublishingLogFileAppender">
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Publishing.log.${COMPUTERNAME}.{date}.{time}.txt</patch:attribute>
        </file>
      </appender>
      <appender name="SearchLogFileAppender">
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Search.log.${COMPUTERNAME}.{date}.{time}.txt</patch:attribute>
        </file>
      </appender>
      <appender name="CrawlingLogFileAppender">
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Crawling.log.${COMPUTERNAME}.{date}.{time}.txt</patch:attribute>
        </file>
      </appender>
      <appender name="WebDAVLogFileAppender">
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/WebDAV.log.${COMPUTERNAME}.{date}.{time}.txt</patch:attribute>
        </file>
      </appender>
      <appender name="ClientLogAppender">
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Client.log.${COMPUTERNAME}.{date}.{time}.txt</patch:attribute>
        </file>
      </appender>
      <appender name="FxmLogFileAppender">
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Fxm.log.${COMPUTERNAME}.{date}.{time}.txt</patch:attribute>
        </file>
      </appender>
    </log4net>
  </sitecore>
</configuration>