<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentDelivery">
    <pipelines>
      <httpRequestBegin>
        <processor type="WebApp.Processors.AddServerNameHeader, WebApp" patch:before="*[1]" />
      </httpRequestBegin>
      <mvc.requestEnd>
        <processor type="WebApp.Processors.HttpCacheHeaders, WebApp" />
      </mvc.requestEnd>
    </pipelines>
    <settings>
      <setting name="DisableBrowserCaching">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>