<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes" optimizeCompilations="false" enablePrefetchOptimization="true" profileGuidedOptimizations="All" />
  </system.web>
  <system.webServer>
    <modules xdt:Transform="SetAttributes(runAllManagedModulesForAllRequests)" runAllManagedModulesForAllRequests="false">
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="SitecoreUploadWatcher" />
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="SitecoreXslWatcher" />
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="SitecoreLayoutWatcher" />
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="SitecoreConfigWatcher" />
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="MediaRequestSessionModule" />
    </modules>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="WebDAVRoot" />
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="WebDAVRoot64" />
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="Sitecore.WebDAVMediaRequestHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <generatePublisherEvidence xdt:Transform="InsertIfMissing" />
    <generatePublisherEvidence xdt:Transform="SetAttributes" enabled="false" />
  </runtime>
</configuration>